#root{
  margin:0;
  display: flex;
  flex-direction: column;
  width:100%

}

body {
  background-color:rgb(24, 24, 24)
}

.app {
  margin: 50px auto;
  display: block;
  width:50%

  
}

.adduserfield {
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}

.user-input {
  width: 100%;
  margin:3px 0;
}
.user-input input {
  width:99%;
  margin:3px 0;
}

.user-input h4 , h4 {
  margin:3px 0;
}

.adduserfield button {
  color: white;
  background-color: indigo;
  border: 1px solid indigo;
  height: 23px;
  margin:3px auto;
}

.user-list {
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  margin:24px 0;
  padding: 15px;
}

.peoplelist {
  border: 1px solid lightgray;
  margin:5px 0;
  padding: 8px;
}




